/* Global Styling --------------> */
*, *::before, *::after {
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --nav-color: hsl(308, 100%, 59%);
  --background-color: hsl(310, 100%, 98%);
  --smaller-fs: 1.4rem;
  --small-fs: 1.8rem;
  --normal-fs: 2rem;
  --large-fs: 2.4rem;
  --larger-fs: 3rem;
  --xl-fs: 3.4rem;
  --transform-scale: 1.10;
}

body {
  margin: 0 0 10rem 0;
  height: 100%;
  background-color: var(--background-color);
}

html {
  font-size: 62.5%;
}

h1, h2, h3, h4, h5, h6 {
  font-size: clamp(var(--normal-fs), 5vw, var(--xl-fs));
}

p {
  font-size: clamp(var(--smaller-fs), 3vw, var(--large-fs));
}

a {
  font-size: clamp(var(--smaller-fs), 2vw, var(--normal-fs));
}

a, .hero-image {
  transition: transform 0.5s;
}

.hero-image:hover, a:hover {
  transform: scale(var(--transform-scale));
}

/* --------------> */
/* Layout Styling --------------> */
.flex {
  display: flex;
  align-items: center;;
}

.flex-column {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

/* --------------> */
/* Nav Styling --------------> */
.navbar {
  background-color: var(--nav-color);
  width: 100%;
  min-height: max-content;
}

.navbar-image {
  max-width: 12rem;
  aspect-ratio: 4/3;
}

.navbar-heading {
  text-align: center;
  font-family: 'Exo', sans-serif;
  color: white;
}

.navbar-links-container {
  display: flex;
  gap: 1.5rem;
  margin-right: 1rem;
  margin-left: auto;
}

.navbar-link {
  color: white;
  font-weight: bold;
  letter-spacing: 0.75px;
}



/* --------------> */
/* Search Styling --------------> */

.search-container {
  width: clamp(20rem, 50%, 35rem);
  margin: 2rem 2rem 2rem auto;
  text-align: end;
}

.search-label {
  display: block;
  font-size: var(--small-fs);
  font-style: italic;
  margin-bottom: 1rem;
  color: hsl(0, 0%, 25%);
}

.search-bar {
  width: 75%;
  border-radius: 5px;
  border: hsl(308, 95%, 80%) 2px solid;
  min-height: 3rem;
}

/* --------------> */
/* Hero Section Styling --------------> */

.hero-image {
  width: clamp(20rem, 25%, 30rem);
  aspect-ratio: 1;
  border-radius: 50%;
  display: block;
  margin: auto;
  border: var(--nav-color) 2rem double;
}

/* --------------> */
/* Features Section Styling --------------> */

/* TODO: Add stylings to feature section */

/* --------------> */
/* Members Section Styling --------------> */

.memberships-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.membership-box {
  border: black 2px solid;
  flex-basis: 35%;
  max-width: 30rem;
  margin: 1rem 1rem;
}

.price::before {
  content: "$";
}

/* --------------> */
/* Footer Styling --------------> */
footer {
  background-color: var(--nav-color);
  padding: 1.5rem 0;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

footer > * {
  margin: 0;
  padding: 0;
}



/* --------------> */

@media screen and (max-width: 775px) {
  .memberships-container {
    flex-direction: column;
  }

  .membership-box {
    min-width: 30rem;
  }
}