/* Global Styling --------------> */
*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --nav-color: hsl(308, 100%, 70%);
  --background-color: hsl(308, 100%, 95%);
  --footer-color: hsl();
  --normal-fs: 1.6rem;
  --smaller-fs: 1.2rem;
  --large-fs: 2.0rem;
  --larger-fs: 2.4rem;
}

body {
  margin: 0;
  height: 100%;
  background-color: var(--background-color);
}

html {
  font-size: 62.5%;
}
/* --------------> */
/* Layout Styling --------------> */
.flex-space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* --------------> */
/* Nav Styling --------------> */
.navbar {
  background-color: var(--nav-color);
  width: 100%;
  min-height: max-content;
}

.navbar-image {
  max-width: 12rem;
  aspect-ratio: 4/3;
}

.navbar-links-container {
  display: flex;
  column-gap: 1rem;
  margin-right: 1rem;
}

/* --------------> */
/* Search Styling --------------> */

.search-container {
  width: clamp(20rem, 50%, 35rem);
  margin: 1rem 1rem 1rem auto;
  text-align: end;
}

.search-label {
  display: block;
}

.fa-magnifying-glass {
  font-size: var(--large-fs);
}

.search-bar {
  width: 75%;
}
/* --------------> */
