/* Global Styling --------------> */
*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --nav-color: hsl(308, 100%, 70%);
  --background-color: hsl(308, 100%, 95%);
  --footer-color: hsl();
  --normal-fs: 1.6rem;
  --smaller-fs: 1.2rem;
  --large-fs: 2.0rem;
  --larger-fs: 2.4rem;
  --transform-scale: 1.10;
}


/* TODO: Delete this font size after development.
  Development font-size. DELETE!! */
  
* {
  font-size: var(--larger-fs);
}

body {
  margin: 0;
  height: 100%;
  background-color: var(--background-color);
}

html {
  font-size: 62.5%;
}

a, .hero-image {
  transition: transform 0.5s;
}

.hero-image:hover, a:hover {
  transform: scale(var(--transform-scale));
}

/* --------------> */
/* Layout Styling --------------> */
.flex {
  display: flex;
  align-items: center;;
}

/* --------------> */
/* Nav Styling --------------> */
.navbar {
  background-color: var(--nav-color);
  width: 100%;
  min-height: max-content;
}

.navbar-image {
  max-width: 12rem;
  aspect-ratio: 4/3;
}

.navbar-links-container {
  display: flex;
  gap: 2rem;
  margin-right: 1rem;
  margin-left: auto;
}

.navbar-heading {
  text-align: center;
}

/* --------------> */
/* Search Styling --------------> */

.search-container {
  width: clamp(20rem, 50%, 35rem);
  margin: 1rem 1rem 1rem auto;
  text-align: end;
}

.search-label {
  display: block;
}

.fa-magnifying-glass {
  font-size: var(--large-fs);
}

.search-bar {
  width: 75%;
}
/* --------------> */
/* Hero Section Styling --------------> */

.hero-image {
  width: clamp(20rem, 25%, 30rem);
  aspect-ratio: 1;
  border-radius: 50%;
  display: block;
  margin: auto;
  border: var(--nav-color) 2rem double;
}

/* --------------> */
/* Features Section Styling --------------> */

/* TODO: Add stylings to feature section */

/* --------------> */
/* Members Section Styling --------------> */

.memberships-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.membership-box {
  border: black 2px solid;
  flex-basis: 35%;
  min-height: 30rem;
  max-width: 30rem;
  margin: 1rem 1rem;
}

.price::before {
  content: "$";
}

@media screen and (max-width: 775px) {
  .memberships-container {
    flex-direction: column;

  }

  .membership-box {
    min-width: 30rem;
  }
}